// nextflow.config - V6 Optimized

profiles {
    dipk_graphdrp {
        params {
            entry = 'dipk_graphdrp'
        }
        process {
            conda = "${projectDir}/environments/dipk_graphdrp_env.yml"
        }
    }

    part1 {
        params {
            entry = 'part1'
        }
        process {
            conda = "${projectDir}/environments/part1_env.yml"
        }
    }

    voter {
        params {
            entry = 'voter'
        }
        process {
            // The voter/ensemble script now has its own dependencies
            conda = "${projectDir}/environments/part1_env.yml"
        }
    }

    single_gpu {
        params {
            gpu_part1         = 0
            gpu_dipk_graphdrp = 0
        }
    }
}

// Global settings
conda.enabled = true
cleanup = true