// nextflow.config - V6 Optimized

profiles {
    dipk_graphdrp {
        params {
            entry = 'dipk_graphdrp'
        }
        process {
            conda = "${projectDir}/environments/graphdrp_new.yml"
        }
    }

    part1 {
        params {
            entry = 'part1'
        }
        process {
            conda = "${projectDir}/environments/try2.yml"
        }
    }

    voter {
        params {
            entry = 'voter'
        }
        process {
            // The voter/ensemble script now has its own dependencies
            conda = "${projectDir}/environments/ensemble_env.yml"
        }
    }

    single_gpu {
        params {
            gpu_part1         = 0
            gpu_dipk_graphdrp = 0
        }
    }
}

// Global settings
conda.enabled = true
cleanup = true